.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  top: 0;
  z-index: 10;
  padding: 0.8rem 0;
  height: 2.5rem;
  width: 100%;

  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 2rem;
  height: 2rem;
  width: auto;
  cursor: pointer;
}
.nav__avatar {
  position: fixed;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  top: 0.5rem;
}
